<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Login</h2>
            <form action"/login" method="post">
                <div class="form-group">
                    <div class="form-group">
                 <label>current Password</label>
                        <input type="password" class="form-control" name="currentpassword" id="inputPassword"  placeholder="currentPassword">
                </div>
                <label>New Password</label>
                        <input type="password" class="form-control" name="newpassword" id="inputPassword"  placeholder="newPassword">
                </div>
                <div class="form-group">
                    <label>reenderPassword</label>
                        <input type="password" class="form-control" name="repassword" id="rePassword"  placeholder="rePassword">
                </div>
                 <div class="form-group">
                    <label>code</label>
                        <input type="password" class="form-control" name="code" id="code"  placeholder="code">
                </div>
                <button type="submit" class="btn btn-primary float-right">resetPassword</button>
            </form>
        </div>

    </div>
</div>
<script>

</script>
