 {{#if login}}
 <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/"><b>Pilasa-AE</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    
                     <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Church
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                               <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/view-churchPost">Posts</a>
                            <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/view-inactiveChurch">New Churches</a>
                            <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/view-activeChurch">Active Churches</a>
                            <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/view-blockChurch">Blocked Churches</a>
                            <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/view-deletedChurch">Deleted Churches</a>
                            <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/church-report">Report</a>
                          
                        </div>
                    </div> <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Payments
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                               <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/view-activePayment">New payment requests</a>
                            <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA//view-closedPayments">closed payments requests</a>
                            <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/view-recentPayments">Recent  Payments</a>
                            <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/view-churchRecentPayment">Church Recent Payments</a>
                            <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA//view-churchOldPayment">Church Old Payments</a>
                          
                        </div>
                    </div>

                    <p>             </p>
                        <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           user
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/view-activeUser">Active User</a>
                             <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/view-InactiveUser">InActive User</a>
                            <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/view-blockedUser">Blocked User</a>
                              <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/user_payments">User Payments</a>
                        </div>
                    </div>
                   
                </ul>
                <div>
                            <a href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/getChurch" class="btn btn-danger" >Search</a>
            </div> 
            </div>
            <span style="padding-left:30px"></span>
            <form class="form-inline my-2 my-lg-0">
                <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/logout">LogOut</a>
                             <a class="dropdown-item" href="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/reset-password">pilasa</a>
                        </div>
                    </div>
            </form>
        </nav>
    </header>

{{/if}}