<div class="card">
    <!-- insertring card to display the image-->
    <img src="https://tse1.mm.bing.net/th?id=OIP.m0IqiREHZ7UQZGx0URpltQHaD4&pid=Api&P=0&w=341&h=179"
        class="card-img-top" alt="card image cap ">
    <div class="card-body">
    </div>
</div>