<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Church registration</h2>
                <form action="/myFirstApp.AESoftwareSolution/Unni/SibiN.12.02.1996.JameS/AikarA/add-product" method="POST" enctype="multipart/form-data"> <!-- enctype="multipart/form-data to store image in database -->
                    <label for="name">name</label>
                    <input type="text" name="name" class="form-control">
                     <label for="category">Category</label>
                    <input type="text" name="Category" class="form-control">
                     <label for="price">price</label>
                    <input type="text" name="price" class="form-control">
                     <label for="Desc">Description</label>
                    <input type="text" name="Description" class="form-control">
                    <label for="image">Image</label>
                    <input type="File" name="Image" class="form-control">
                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>